*{
    margin: 0; padding: 0;
}

.carrosel {
    width: auto;
    height: 500px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 10px  10px  15px  black rgb(0,0,0,0,7);
}

.carrosel ul {
display: flex;
list-style: none;
width:auto;
height: 500px;
}   

.carrosel li{
    position: relative;
    animation: slide 30s infinite ease-out;
}
@keyframes slide {
0% {left:0px}
20% {left:-590px}
40% {left:-1000px}
60% {left:-1000px}
80% {left:-590px}
100% {left:0px}   
}